{% extends 'base.html' %}
{% block content %}

        <!-- BEGIN INDEX PAGE  -->
        <div class="div-cover-image" id="mainpage_riverlogo_container"
            style="opacity: 1;
            background-size: cover;
            background-color: white;
            background-image: url('/static/img/tower_bridge1.jpeg');
            padding: 0px;
            padding-bottom: 0;
            background-repeat: no-repeat;
            filter: grayscale(0%) invert(0%);">
            
            <img class="img-fluid" src="/static/img/arg_logo_with_river.svg"
                style="padding-left: 10%;padding-right: 10%;width: auto;margin-bottom: 10px;padding-top: 5em;max-width: 100%;">
            <p class="text-center"
                style="color: rgb(254,242,206);background-color: rgba(0,0,0,0.55);background-size: auto;font-size: 170%;background-position: center;">
                The reloadable prepaid credit card that does more!</p>
        </div>

    <div class="features-clean">
        <div class="container">
            <div class="intro">
                <h2 id="about-us">Let's face it. Most prepaid credit cards suck.</h2>
                <!-- (cool picture of our card)<br> -->
                <div class="div-splash-desc">
                    <p style="font-size:25px;">High fees. Difficult to load. Rigid rules. <br>
                    
                    <p style="font-size: 20px;"><b>At American River Gold, we believe money should flow like water.</b>
                    
                    So we built a Visa card with flexibility to fit YOUR unique Individual/Business needs.</p>
                    
                    <div id="div-splash-lists" style="font-size: 20px; border: 5px solid goldenrod;
                    border-radius:.25rem; padding:50px; padding-top:0px; margin:10px; margin-bottom:20px;">

                    <h3 class="text-center"><b>With an American River Gold card, you can:</b></h3>
                    <br>

                    Load your American River Gold card quickly and easily with:<br>
                    <ul style="list-style: none; font-size: 20px;">
                    <li>Cash.</li> 
                    <li>Square/Venmo.</li>
                    <li>Bank transfer (ACH or wire).</li>
                    <li>Check.</li>
                    <li>Money order.</li>
                    <li>Crypto.</li>
                    </ul>
                    
                    <p style="font-size: 20px;">Get a new card or check your balance via:<br>
                    <ul style="list-style: none; font-size: 20px;">
                    <li>Our website<br></li>
                    <li>Phone<br></li>
                    <li>In-person<br></li>
                    <li>Our advanced user-friendly API</li></ul><br>
                    
                    <p style="font-size: 20px;">We have customized solutions for:
                    <ul style="list-style: none; font-size: 20px;">
                    <li>Mexican Grocery Stores.</li>
                    <li>Check cashing stores.</li>
                    <li>Cryptocurrency wallets.</li>
                    <li>Alternative Medicinal Shops.</li>
                    <li>The unbanked.</li></ul>
                    </div>
                    
                    <p class="text-center" style="font-size: 20px;">And so many more! You'll be amazed at the flexibility of our cards because
                        <b>we customize our cards for YOUR needs!</b><br>
                    
                <h2 class="text-center" id="contact-us">Contact us today!</h2>
                <p class="text-center" style="margin-bottom: 0px;">bryan at americanrivergold.com</p>
                <p class="text-center">(916) 397-8238</p>
            </div>
        </div>
    </div>
                <!-- END INDEX PAGE  -->
                {%  endblock  %}